# system config junk file
.DS_Store
.DS_Store?
*.swp
*.pyc
*.o
*.tar
p1/tsh
p1/testsuite/myspin
p1/testsuite/mysplit
p1/testsuite/mystop
p1/tags
p1/testsuite/tsh-my-output.txt
p1/testsuite/tsh-ref-output.txt
